In [5]:
# Import the required libraries
import pandas as pd
from pathlib import Path
import hvplot.pandas

## Prepare data

In [6]:
# Read in the data from the "population_counts.csv" file into a Pandas DataFrame
population_df = pd.read_csv(
    Path('../Resources/population_counts.csv')
)

# Review the first five rows of the DataFrame
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810047 entries, 0 to 810046
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             810047 non-null  int64
 1   StateAbbr        810047 non-null  object
 2   StateDesc        810047 non-null  object
 3   CityName         810047 non-null  object
 4   PopulationCount  810047 non-null  int64
 5   Latitude         810047 non-null  float64
 6   Longitude        810047 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 43.3+ MB

In [7]:
# Select the population data for the state of California
ca_population_data = population_df[population_df['StateDesc'] == 'California']

# Select the population for the year 2016
california_population_data = ca_population_data[ca_population_data['Year'] == 2016]

# Remove duplicates from the DataFrame
california_population_data = california_population_data.drop_duplicates()

# Review the first and last five rows of the DataFrame
display(california_population_data.head())
display(california_population_data.tail())

,Year,StateAbbr,StateDesc,CityName,PopulationCount,Latitude,Longitude
45546,2016,CA,California,Alameda,73812,37.765085,-122.266490
45548,2016,CA,California,Alameda,3646,37.764563,-122.231170
45549,2016,CA,California,Alameda,4107,37.775930,-122.247777
45550,2016,CA,California,Alameda,4896,37.781192,-122.266079
45551,2016,CA,California,Alameda,4722,37.777832,-122.283598

,Year,StateAbbr,StateDesc,CityName,PopulationCount,Latitude,Longitude
201645,2016,CA,California,Whittier,1153,33.971944,-118.048356
201646,2016,CA,California,Whittier,3394,33.948080,-118.015141
201647,2016,CA,California,Whittier,6529,33.935604,-117.984645
201648,2016,CA,California,Whittier,4273,33.941836,-118.000823
201649,2016,CA,California,Whittier,1381,33.932823,-117.997121

### Plot data

In [4]:
# Plot data in a scatter plot using hvPlot with GeoViews enabled